make_gitignore.sh
.vscode/
info.txt
./C/Grep/grep
./C/utils/main
./C/utils/utils.o
./C/utils/main.o
./C/Structures/Graphs/Basics/basics
./C/Structures/Graphs/Graph_Array_File/graph_array_file
./C/Structures/Basics/basics
./C/Structures/Stack/Without_header/stack
./C/Structures/Stack/With_header/stack.o
./C/Structures/Stack/With_header/main
./C/Structures/Stack/With_header/main.o
./C/Structures/Student_Data_Struct/student_data_struct
./C/Structures/Lists/sorted_lists/lists
./C/Structures/Lists/not_sorted_lists/lists
./C/Structures/FIFO/fifo
./C/Parameters/parameters
./C/programmes/fifth
./C/programmes/search
./C/programmes/third
./C/programmes/fourth
./C/programmes/bsort
./C/programmes/first
./C/programmes/second
./C/Malloc/Student_Data_Malloc/student_data_malloc
./C/Malloc/Basics/malloc
./C/Malloc/Pointer_Arrays/pointer_arrays2
./C/Malloc/Pointer_Arrays/pointer_arrays
./C/Malloc/Pointer_Arrays/pointer_arrays3
./C/Arrays/Insert_Num_To_Table/insert_num_to_table
./C/Arrays/Merge_Tables/merge_tables.o
./C/Arrays/Delete_From_Table/delete_from_table
./C/Arrays/Options_Tables/options_tables.o
./C/Arrays/Return_Table/return_table
./C/Files/Student_Data/student_data
./C/Files/Basics/files
